<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello world from our first View @ViewBag.Name</h1>
    @{
        for (int i = 0; i < ViewBag.Number; i++)
        {
            <p>@i</p>
        }
    }
</body>

</html>