@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form action="/logout" method="post">
    <h2>Hello @Context.Session.GetString("UserName")</h2>
    <input type="submit" value="Logout" class="btn btn-danger">

</form>
